# dependencies
node_modules/
.pnp
.pnp.js

# builds
dist/
.output/
.nuxt/
.nitro/
.cache/
build/

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
logs/

# os / editor
.DS_Store
.idea/
.vscode/
*.swp

# prisma
apps/api/prisma/*.db
apps/api/prisma/migrations/dev.db*

# uploads (runtime)
apps/api/uploads/*
!apps/api/uploads/.gitkeep
